/*메인 영역 크기 지정*/
 #main {height: auto; min-height: 500px}
/* 링크스타일*/
a{font-weight: bold}
a:link {color:black;text-decoration: none}/*평상시 링크스타일*/
a:visited {color: black; text-decoration: none}/*링크를 클릭한 후 스타일*/
a:hover{color:orange;text-decoration: underline}/*링크에 마우스포인터를 올리고 있을때 스타일*/
a:active{color:orange;text-decoration: underline}/*링크에 마우스버튼을 누르고 있었을때 스타일*/

/*컨텐츠 영역 너비지정 및 화명 정중앙 배치*/
#wrap { width:1250px; margin: 0 auto}

/*저작권 문구 가운데 정렬*/
footer span {display:block; text-align: center}

  /*상단 로고 배치*/
    header h1 {margin-bottom:45px }


    /*상단메뉴 수평배치*/
    ul{list-style:none;padding:0}
    ul li{display: inline-block;
    margin-left: 155px}


    hr{background: black;height: 1px;}